<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>448909244836-8n3umr9nu3l916c20dh6b10m8mqf5lj4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.448909244836-8n3umr9nu3l916c20dh6b10m8mqf5lj4</string>
	<key>API_KEY</key>
	<string>AIzaSyAZli-uqXqCMo7X8XzJZzTSVI2pu2JWWLs</string>
	<key>GCM_SENDER_ID</key>
	<string>448909244836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wallpaperHub</string>
	<key>PROJECT_ID</key>
	<string>wallpaper-hub-825e2</string>
	<key>STORAGE_BUCKET</key>
	<string>wallpaper-hub-825e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:448909244836:ios:6a637db7ec2895fdfb2931</string>
</dict>
</plist>